<span><%= comment.commenter %> says:</span>

<p class="comment-body">
  <%= comment.body %>
</p>

<p class="comment-menu">
  <%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: 'secondary-text-color' %>
</p>

<%= tag.hr unless comment_iteration.last? %>