<span><%= comment.commenter %> says:</span>

<p class="comment-body">
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>

<%= tag.hr unless comment_iteration.last? %>