// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li.preview {
  display: inline;
}

div.article-body {
  text-align: left;
}

#article-menu {
  float: right;
  font-size: smaller;
}