// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li.comment-option {
  display: inline;
}

.comment-header {
  font-size: smaller;
  text-align: left;
}

.comment-body {
  font-size: smaller;
  text-align: left;
}